# Python
__pycache__/
*.py[cod]
*.pyd
*.pyo
*.pyp
.Python
*.egg-info/
dist/
build/

# Virtual env
.venv/
venv/
env/

# Django
db.sqlite3
*.sqlite3
media/
staticfiles/
*.log

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
desktop.ini

# Migrations cache (on garde les migrations, donc pas besoin d'ignorer migrations/)
